*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#111,#222);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    position: relative;
    z-index: 1;
}
.content h1{
    font-size: 120px;
    color : white;
    font-weight: 600;
    transform: 0.3s;
}
.content h1:hover{
    -webkit-text-stroke: 2px whitesmoke;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    font-size: 22px;
    border: 2px solid whitesmoke;
    padding: 12px 48px;
    margin-top: 20px;
    transition: 0.3s;
}
.content a:hover{
    background-color: whitesmoke;
    color: black;
}
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
}
@media (min-aspect-ratio :16/9){
    .bg-video{
        width: 100%;
        height: auto; 
    }
}
@media (max-aspect-ratio :16/9){
    .bg-video{
        width: auto;
        height: 100%; 
    }
}
@media only screen and (max-width: 768px) {
    .content h1 {
      font-size: 50px;
      margin-top: 20px;
    }
    .content a {
      font-size: 16px;
      padding: 10px 30px;
    }
  }
  @media only screen and (max-width: 480px) {
    .content h1 {
      font-size: 30px;
      margin-top: 10px;
    }
    .content a {
      font-size: 14px;
      padding: 8px 20px;
    }
  }