*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(deepskyblue,dodgerblue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
.accordion{
    margin: 100px auto 0;
    width: 600px;
    /* max-height: 500px;
    overflow-y: auto; */
}  
.accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: azure;
    padding: 10px;
    border: 2px solid  navy;
    border-radius: 4px;
}
.accordion li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: navy;
    cursor: pointer;
}
.accordion li label span{
    transform: rotate(90deg);
    color: navy;
    font-size: 1.5rem;
}
.accordion label + input[type="radio"]{
    display: none;
}
.accordion .content{
    padding: 0 10px;
    line-height: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    font-size: 20px;
}
.accordion label + input[type = "radio"]:checked + .content{
    max-height: 400px;
}
@media screen and (max-width: 768px) {
    .accordion {
      width: 100%;
      margin: 50px auto 0;
      margin-bottom: 0;
    }
    .accordion li {
      margin-bottom: 20px;
      padding: 20px;
      font-size: 1.5rem;
    }
    .accordion li label {
      font-size: 1.5rem;
    }
    .accordion li label span {
      font-size: 1.2rem;
    }
    .accordion .content {
      font-size: 1.2rem;
    }
    .accordion label + input[type="radio"]:checked + .content {
      max-height: 200px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .accordion li {
      padding: 10px;
      font-size: 1rem;
    }
    .accordion li label {
      font-size: 1.2rem;
    }
    .accordion li label span {
      font-size: 1rem;
    }
    .accordion .content {
      font-size: 1rem;
    }
    .accordion label + input[type="radio"]:checked + .content {
      max-height: 150px;
    }
  }
